<MudDialog>
    <DialogContent>
        <div style="text-align: center">
            <MudMarkdown Value="@Message" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton>Cancel</MudButton>
        <MudButton Color="Color.Primary">Done</MudButton>
    </DialogActions>
</MudDialog>